.container
    .events__text
        .events__text-title МОБИЛЬНОЕ ПРИЛОЖЕНИЕ   
    .application
        .application__title
            .application__subtitle
                .application__img-oval 
                    img(src="../img/application/oval.png", alt="")
                .application__block
                    .application__img-logo 
                        img(src="../img/application/logo .png", alt="")
                        .application__text 
                            .application__texttitle СКАЧАЙТЕ УДОБНОЕ <br/> МОБИЛЬНОЕ ПРИЛОЖЕНИЕ
                            .application__textsubtitle Получите информацию о всех государственных услугах Московской <br/> области 
                            .shop
                                .shop__img-qr 
                                    img(src="../img/application/qr.png", alt="")
                                .shop__block
                                    .shop__title
                                        .shop__play 
                                            .shop__play-img
                                                img(src="../img/application/Google play.png", alt="")
                                            .shop__play-text Google play
                                    .shop__title
                                        .shop__play 
                                            .shop__play-img
                                                img(src="../img/application/App Store.png", alt="")
                                            .shop__play-text App Store
                .shop__mobile-img 
                    img(src="../img/application/mobile.png", alt="")
