.container
    .events__text
        .events__text-title КОМПЛЕКСНЫЕ УСЛУГИ
    .comprehensive
        .comprehensive__title
            .comprehensive__subtitle
                .comprehensive__text РОЖДЕНИЯ РЕБЕНКА
                .comprehensive__img
                    img(src="../img/comprehensive/woman.png", alt="")
            .comprehensive__subtitle
                .comprehensive__text ВЫХОД НА ПЕНСИЮ
                .comprehensive__img
                    img(src="../img/comprehensive/pension.png", alt="")
            .comprehensive__subtitle
                .comprehensive__text ПЕРЕМЕНА ИМЕНИ
                .comprehensive__img
                    img(src="../img/comprehensive/name.png", alt="")
            .comprehensive__subtitle
                .comprehensive__text ИНДИВИДУАЛЬНОЕ <br/> ЖИЛИЩНОЕ <br/> СТРОИТЕЛЬСТВО  
                .comprehensive__img
                    img(src="../img/comprehensive/construction.png", alt="")
            




            .services__arrow-left 
                .services__arrow-left-img 
                    img(src="../img/events/arrow-left.png", alt="")
            .services__arrow-right 
                .services__arrow-right-img 
                    img(src="../img/events/arrow-right.png", alt="")