.container
    .events__text
        .events__text-title КОМПЛЕКСНЫЕ УСЛУГИ
    .comprehensive
        .arrow__services
            .services__arrow-left 
                img(src="img/events/arrow-left.png", alt="")
            .services__arrow-right 
                img(src="img/events/arrow-right.png", alt="")
        .comprehensive__title
            .comprehensive__subtitle.comprehensive-purple
                .comprehensive__card-fon
                    .comprehensive__text РОЖДЕНИЯ РЕБЕНКА
                    .comprehensive__img
                        img(src="img/comprehensive/woman.png", alt="")
            .comprehensive__subtitle.comprehensive-blue
                .comprehensive__card-fon
                    .comprehensive__text ВЫХОД НА ПЕНСИЮ
                    .comprehensive__img
                        img(src="img/comprehensive/pension.png", alt="")
            .comprehensive__subtitle.comprehensiv-carrot
                .comprehensive__card-fon
                    .comprehensive__text ПЕРЕМЕНА ИМЕНИ
                    .comprehensive__img
                        img(src="img/comprehensive/name.png", alt="")
            .comprehensive__subtitle.comprehensive-lilac
                .comprehensive__card-fon
                    .comprehensive__text ИНДИВИДУАЛЬНОЕ <br/> ЖИЛИЩНОЕ <br/> СТРОИТЕЛЬСТВО  
                    .comprehensive__img
                        img(src="img/comprehensive/construction.png", alt="")
            .comprehensive__subtitle
                .comprehensive__text ИНДИВИДУАЛЬНОЕ <br/> ЖИЛИЩНОЕ <br/> СТРОИТЕЛЬСТВО  
                .comprehensive__img
                    img(src="img/comprehensive/construction.png", alt="")
            .comprehensive__subtitle
                .comprehensive__text ИНДИВИДУАЛЬНОЕ <br/> ЖИЛИЩНОЕ <br/> СТРОИТЕЛЬСТВО  
                .comprehensive__img
                    img(src="img/comprehensive/construction.png", alt="")
            .comprehensive__subtitle
                .comprehensive__text ИНДИВИДУАЛЬНОЕ <br/> ЖИЛИЩНОЕ <br/> СТРОИТЕЛЬСТВО  
                .comprehensive__img
                    img(src="img/comprehensive/construction.png", alt="")
            .comprehensive__subtitle
                .comprehensive__text ИНДИВИДУАЛЬНОЕ <br/> ЖИЛИЩНОЕ <br/> СТРОИТЕЛЬСТВО  
                .comprehensive__img
                    img(src="img/comprehensive/construction.png", alt="")
            .comprehensive__subtitle
                .comprehensive__text ИНДИВИДУАЛЬНОЕ <br/> ЖИЛИЩНОЕ <br/> СТРОИТЕЛЬСТВО  
                .comprehensive__img
                    img(src="img/comprehensive/construction.png", alt="")
            .comprehensive__subtitle
                .comprehensive__text ИНДИВИДУАЛЬНОЕ <br/> ЖИЛИЩНОЕ <br/> СТРОИТЕЛЬСТВО  
                .comprehensive__img
                    img(src="img/comprehensive/construction.png", alt="")