
.container
    .events
        .events__text
            .events__text-title СОБЫТИЯ
        .slider 
            .item
                .slide__text
                    .slide__text-title СУБСИДИЯ НА РЕАЛИЗАЦИЮ ПРОДУКЦИИ <br/> ЧЕРЕЗ МАРКЕТПЛЕЙСЫ
                    .slide__text-subtitle Подача заявок на компенсацию расходов на продвижение товаров и услуг через <br/> маркетплейсы продлится до 30 ноября!
                    .buttom
                        .buttom__text Узнать
                    .slider__dots
                        span.slider__dots-item(onclick='currentSlide(1)')
                        span.slider__dots-item(onclick='currentSlide(2)')
                        span.slider__dots-item(onclick='currentSlide(3)')  
                        span.slider__dots-item(onclick='currentSlide(4)')  
                        span.slider__dots-item(onclick='currentSlide(5)')  
                        span.slider__dots-item(onclick='currentSlide(6)')  
                        span.slider__dots-item(onclick='currentSlide(7)')
                        span.slider__dots-item(onclick='currentSlide(8)')
                        span.slider__dots-item(onclick='currentSlide(9)')
                        span.slider__dots-item(onclick='currentSlide(10)')
                        span.slider__dots-item(onclick='currentSlide(11)')
                        span.slider__dots-item(onclick='currentSlide(12)')
                        span.slider__dots-item(onclick='currentSlide(13)')
                        span.slider__dots-item(onclick='currentSlide(14)')
                        span.slider__dots-item(onclick='currentSlide(15)')
                        span.slider__dots-item(onclick='currentSlide(16)')
                        span.slider__dots-item(onclick='currentSlide(17)')
                        span.slider__dots-item(onclick='currentSlide(18)')
                        span.slider__dots-item(onclick='currentSlide(19)')
                        span.slider__dots-item(onclick='currentSlide(20)')
                        span.slider__dots-item(onclick='currentSlide(21)')
                        span.slider__dots-item(onclick='currentSlide(22)')
                        span.slider__dots-item(onclick='currentSlide(23)')
                        span.slider__dots-item(onclick='currentSlide(24)')
                        span.slider__dots-item(onclick='currentSlide(25)')
                        span.slider__dots-item(onclick='currentSlide(26)')
                        span.slider__dots-item(onclick='currentSlide(27)') 
                .slide__img 
                        img(src="../img/events/events.png", alt="")
            .arrow 
                .arrow__left 
                    img(src="../img/events/arrow-left.png", alt="")
                .arrow__right 
                    img(src="../img/events/arrow-right.png", alt="")
                    
            
            
            