.container
    .events__text
        .events__text-title НОВОСТИ
    .news
        .all__news
            .all__news-text все новости
        .news__title 
            .news__subtitle
                .news__text 
                    .news__text-title Сегодня, 11:10
                    .news__text-subtitle Более 5,7 тыс звонков поступило в <br/> ЕДДС Щелкова за прошлую неделю
            .news__subtitle
                .news__text 
                    .news__text-title Сегодня, 11:10
                    .news__text-subtitle 1 813 случаев заболевания коронавирусом выявили в <br/> Подмосковье за сутки 
            .news__subtitle
                .news__text 
                    .news__text-title Сегодня, 11:07
                    .news__text-subtitle Еще 1858 человек вылечились от Covid‑19 в Подмосковье 
            .news__subtitle
                .news__text 
                    .news__text-title Сегодня, 11:10
                    .news__text-subtitle Почти 300 человек привились от <br/>  Covid‑19 в амбулатории деревни Федюково Подольска с марта