.container
    .events__text
        .events__text-title СЕРВИСЫ
    .services 
        .services__title
            .services__subtitle
                .services__text УЗНАТЬ ТИП МОЕЙ УЧЕТНОЙ <br/> ЗАПИСИ ЕСИА
                .services__img 
                    img(src="../img/services/state.png", alt="")
                .services__button 
                    .services__button-text ПРОВЕРИТЬ
            .services__subtitle
                .road__text
                    .road__text-title ПРИНАДЛЕЖНОСТИ <br/> АВТОМОБИЛЬНЫХ ДОРОГ
                    .road__text-subtitle Узнайте информацию для получения <br/> технических требований и условий
                .road__img 
                    img(src="../img/services/road.png", alt="")
                .road__search
                    .road__input
                        input(name="s" placeholder="Кадастровый номер" type="search")
                .road__button 
                    .road__button-text ОПРЕДЕЛИТЬ
            .services__subtitle
                .check__text ПРОВЕРКА ЗАЯВЛЕНИЯ <br/> В ДЕТСКИЙ САД
                .check__img 
                    img(src="../img/services/bear.png", alt="")
                .check__button
                    .check__button-text ПРОВЕРИТЬ
            .services__subtitle
                .school__text 
                    .school__text-title ШКОЛЬНЫЙ ПОРТАЛ
                    .school__text-subtitle Просматривайте дневник своего ребенка
                .school__block
                    .school__img
                        img(src="../img/services/copybook.png", alt="")
                    .school__input
                        input(name="s" placeholder="Логин" type="search")
                    .school__input-title
                        input(name="s" placeholder="Пароль" type="search")
                    .school__password-text Восстановить пароль
                    .school__password-text-title Как получить доступ?
                    .school__button
                        .school__button-text ВОЙТИ
            .services__arrow-left 
                .services__arrow-left-img 
                    img(src="../img/events/arrow-left.png", alt="")
            .services__arrow-right 
                .services__arrow-right-img 
                    img(src="../img/events/arrow-right.png", alt="")
