.container
    .events__text
        .events__text-title ТЕХНИЧЕСКАЯ ПОДДЕРЖКА
    .technical
        .technical__title
            .technical__subtitle
                .technical__buttom 
                    .technical__buttom-text ОБРАТИТЬСЯ
            .technical__tell 8 (800) 550-50-30