html
	head
		link(rel="stylesheet" href='css/style.min.css')
		meta(name="viewport" content="width=device-width, initial-scale=1")
	body

		.wrapper
			
			include html/header
			.section__container
				
				include html/events
				include html/services
				include html/comprehensive 
				include html/news
				include html/application
				include html/technical 
			





		script(src='js/app.min.js')