@import "variables";
@import "mixin";
.application{
    margin-bottom: 62px;
    .application__title{
        margin-left: 68px;
        .application__subtitle{
            width: 1200px;
            height: 385px;
            background: #B9CADD;
            border-radius: 25px;
            display: flex;
            justify-content: space-between;
            .application__img-oval{
                position: absolute;
            }
            .application__block{
                .application__img-logo{
                    padding-top: 43px;
                    padding-left: 40px;
                    .application__text{
                        padding-top: 20px;
                        .application__texttitle{
                            @include font($name: $OpenSans-Bold, $fontWeight: $boldWeight, $fontSize: $xxlSize);
                            color: $color-texttitle;
                            margin-bottom: 10px;
                        }
                        .application__textsubtitle{
                            @include font($name: $OpenSans-Regular, $fontWeight: $fontWeight, $fontSize: $lSize);
                            color: $color-texttitle;
                            margin-bottom: 24px;
                        }
                        .shop{
                            display: flex;
                            .shop__img-qr{
                                margin-right: 23px;
                            }
                            .shop__block{
                                .shop__title{
                                    @include flexbox;
                                    width: 130px;
                                    height: 37px;
                                    background: $color-texttitle;
                                    border-radius: 4px;
                                    margin-bottom: 10px;
                                    .shop__play {
                                        display: flex;
                                        align-items: center;
                                        justify-content: space-between;
                                        .shop__play-img{
                                            margin-right: 11px;
                                        }
                                    }
                                    .shop__play-text{
                                        @include font($name: $OpenSans-Regular, $fontWeight: $fontWeight, $fontSize: $sSize);
                                        color: $color-text;
                                    }
                                }
                            }
                        }
                    }
                }
            } 
            .shop__mobile-img{
                margin-right: 63px;
                margin-top: 17px;
            }
        }
    }

}