@import "variables";
@import "mixin";
.wrapper {
    width: 100%;
    height: 100vh;
}
.header{
    margin-bottom: 10px;

    .header__text{
        text-align: center;
        margin-top: 10px;
        @include font($fontSize: $mSize);
        color: $color-text;
        margin-bottom: 15px;
    }
    .header__menu{
        margin-left: 40px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
        .header__title{
            display: flex;
            align-items: center;
            #lines{
                border-bottom: 12px double $color-button;
                border-top: 4px solid $color-button;
                content: "";
                height: 4px;
                width: 30px;
                box-sizing: unset;
                display: inline-block;
                vertical-align: middle;
            }
            .header__flag{
                display: flex;
                margin-left: 30px;
                .header__flag-img{
                }
                .header__flag-text{
                    margin-left: 15px;
                    .header__flag-texttitle{
                        @include font($fontSize: $mSize);
                        color: $color-text;
                    }
                    .header__flag-textsubtitle{
                        @include font($fontSize: $xsSize);
                        color: $color-button;
                    }
                }
            }
        }
        .header__subtitle{
            display: flex;
            align-items: center;
            .header__capabilities{
                display: flex;
                align-items: center;
                .header__capabilities-img {
                    margin-right: 17px;
                }
                .header__capabilities-text{
                    @include font($fontSize: $mSize);
                    margin-right: 58px;
                    color: rgba(0, 0, 0, 0.6);
                }
                .header__capabilities-texttitle{
                    @include font($fontSize: $mSize);
                    margin-right: 32px;
                    border-bottom: 1px dashed $color-button ; /* Параметры линии */
                    height: 18px; /* Высота блока */
                }
            }
            .header__citizen{
                display: flex;
                .citizen__list{
                    list-style-type: none;
                    display: flex;
                    align-items: center;
                    .citizen__item{
                        margin-right: 54px;
                        .citizen__link{
                            text-decoration: none;
                            position: relative;
                            cursor: pointer;
                            @include font;
                            color: $color-text;
                        }
                        .citizen__link:after {
                            display: block;
                            left: 0; 
                            width: 0;
                            height: 3px; 
                            background-color: $color-button;
                            content: "";
                            transition: width 0.3s ease-out; 
                            margin-top: 5px;
                        }
                        .citizen__link:hover:after,
                        .citizen__link:focus:after {
                        width: 100%; 
                        }
                    }
                }
            }
            .header__eye {
                .header__eye-img {
                    margin-right: 57px;
                }
            }
            .header__enter{
                display: flex;
                align-items: center;
                .header__enter-img {
                    margin-right: 9px;
                }
                .header__enter-text{
                    @include font($fontSize: $mSize);
                    color: $color-text;
                    margin-right: 22px;
                }
            }
        }
    }
    .submenu{
        .submenu__title{
            @include flexbox;
            text-align: center;
            .submenu__subtitle{
                margin-left: 86px;
                margin-bottom: 67px;
                .submenu__img{
                    margin-bottom: 16px;
                } 
                .submenu__text{
                    @include font($fontSize: $mSize);
                    color: $color-text;
                }
            }
        }
    }
    .lamp{
        display: flex;
        justify-content: center;
        .lamp__img{} 
        .lamp__input{
            margin-left: 12px;
            input[name="m"]{
                @include font($name: $OpenSans-Regular,  $fontSize: $mSize);
                width: 1068px;
                height: 30px;
                color: #6D6D6D;
                border: none;
                border-bottom: 2px solid #D8D8D8;
                padding-top: 10px;
                margin-bottom: 22px;
            }   
        }
        .lamp__menu{ 
            .lamp__menu-title{
                display: flex;
                align-items: center;
                margin-left: 20px;
                .lamp__menu-subtitle{
                    @include flexbox;
                    width: 215px;
                    height: 30px;
                    background: $color-button;
                    border-radius: 0px 17px 17px 17px;
                    padding: 20px 7px;
                    margin-right: 10px;
                    .lamp__menu__text{
                        @include font($fontWeight: $semiWeight);
                        color: $color-texttitle;
                    }
                }
                .lamp__titlemenu-subtitle{
                    @include flexbox;
                    width: 153px;
                    height: 30px;
                    background: $color-button;
                    border-radius: 0px 17px 17px 17px;
                    padding: 20px 7px;
                    margin-right: 10px;
                    .lamp__titlemenu__text{
                        @include font($fontWeight: $semiWeight);
                        color: $color-texttitle;
                    }
                }
            }
        }
    }
} 