@import "variables";
@import "mixin";
.services{
    margin-bottom: 62px;
    .services__title{
        display: flex;
        align-items: center;
        margin-left: 52px;
        .services__subtitle{
            width: 288px;
            height: 380px;
            background: #B9CADD;
            border-radius: 20px;
            text-align: center;
            margin-left: 16px;
            .services__text{
                @include font($name: $OpenSans-Bold, $fontWeight: $boldWeight, $fontSize: $mSize);
                color: $color-texttitle;
                padding: 20px 20px;
                text-align: left;
                margin-bottom: 40px;
            }
            .services__img{
                margin-bottom: 56px;
            } 
            .services__button{
                @include flexbox;
                width: 288px;
                height: 40px;
                background: #6986A6;
                border-radius: 22.5px;
                .services__button-text{
                    @include font($name: $OpenSans-Bold, $fontWeight: $boldWeight);
                    color: $color-texttitle;
                    padding: 12px 46px;
                }
            }
            .road__text{
                .road__text-title{
                    @include font($name: $OpenSans-Bold, $fontWeight: $boldWeight, $fontSize: $mSize);
                    color: $color-texttitle;
                    padding: 20px 20px;
                    text-align: left;
                }
                .road__text-subtitle{
                    @include font($name: $OpenSans-Regular, $fontWeight:$fontWeight);
                    color: $color-texttitle;
                    padding: 0px 20px;
                    text-align: left;
                    margin-bottom: 28px;
                }
            }
            .road__img{
                margin-bottom: 2px;
            }
            .road__search{
                padding: 20px;
                margin-bottom: 0px;
            }
            .road__input{
                @include flexbox;
                width: 248px;
                height: 40px;
                background: $color-texttitle;
                border-radius: 22.5px;
            }
            input[name="s"]{
                border: none;
            }
            .road__button{
                @include flexbox;
                width: 288px;
                height: 40px;
                background: #6986A6;
                border-radius: 22.5px;
            } 
            .road__button-text{
                @include font($name: $OpenSans-Bold, $fontWeight: $boldWeight);
                color: $color-texttitle;
                padding: 12px 46px;
            }
            .check__text{
                @include font($name: $OpenSans-Bold, $fontWeight: $boldWeight, $fontSize: $mSize);
                color: $color-texttitle;
                padding: 20px 20px;
                text-align: left;
                margin-bottom: 63px;
            }
            .check__img{
                margin-bottom: 76px;
            }
            .check__button{
                @include flexbox;
                width: 288px;
                height: 40px;
                background: #6986A6;
                border-radius: 22.5px;
            }
            .check__button-text{
                @include font($name: $OpenSans-Bold, $fontWeight: $boldWeight);
                color: $color-texttitle;
                padding: 12px 46px;
            }
            .school__text{} 
            .school__text-title{
                @include font($name: $OpenSans-Bold, $fontWeight: $boldWeight, $fontSize: $mSize);
                color: $color-texttitle;
                padding: 20px 20px;
                text-align: left;
            }
            .school__text-subtitle{
                @include font($name: $OpenSans-Regular, $fontWeight: $fontWeight);
                color: $color-texttitle;
                padding: 0px 20px;
                text-align: left;
            }
            .services__subtitle{
            }
            .school__block{
                position: relative;
                .school__img{
                    // position: absolute;
                    // top: -41px;
                    // left: -21px;
                }
                .school__input{
                    @include flexbox;
                    position: absolute;
                    top: 0;
                    left: 20px;
                    right: 20px;
                    width: 248px;
                    height: 40px;
                    background: $color-texttitle;
                    border-radius: 22.5px;
                    margin-top: 111px;
                }
                .school__input-title{
                    @include flexbox;
                    position: absolute;
                    top: 0;
                    left: 20px;
                    right: 20px;
                    width: 248px;
                    height: 40px;
                    background: $color-texttitle;
                    border-radius: 22.5px;
                    margin-top: 156px;
                }
                .school__password-text{
                    position: absolute;
                    top: 0;
                    margin-top: 202px;
                    @include font($name: $OpenSans-Regular, $fontWeight: $fontWeight);
                    color: $color-texttitle;
                    padding: 0px 20px;
                } 
                .school__password-text-title{
                    position: absolute;
                    top: 0;
                    margin-top: 230px;
                    @include font($name: $OpenSans-Regular, $fontWeight: $fontWeight);
                    color: $color-texttitle;
                    padding: 0px 20px;
                }
                .school__button{
                    @include flexbox;
                    position: absolute;
                    top: 0;
                    margin-top: 266px;
                    width: 288px;
                    height: 40px;
                    background: #6986A6;
                    border-radius: 22.5px;
                    .school__button-text{
                        @include font($name: $OpenSans-Bold, $fontWeight: $boldWeight);
                        color: $color-texttitle;
                        padding: 12px 46px;
                    }
                }
            }
        }
    }
}
.services__arrow-left {
    position: absolute;
    left: 300px;
    // margin-left: 300px;
    .services__arrow-left-img{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        background: $color-texttitle;
        border-radius: 50%;
    }
}
.services__arrow-right{
    position: absolute;
    right: 284px;
    // margin-left: 284px;
    .services__arrow-right-img{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        background: $color-texttitle;
        border-radius: 50%;
    }
}