@import "fonts";
@import "header";
@import "events";
@import "services";
@import "comprehensive";
@import "news";
@import "application";

*{
	box-sizing: border-box;
}
.section__container{
	background: #E5E5E5;
}
.container{
    max-width: 1320px;
    margin: 0 auto;
    
}
// * {
	// outline:none;
// }


body,html {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	display: flex;
}