$color-text: #000000;
$color-button: #FF5145;
$color-texttitle: #fff;


$OpenSans-Regular: 'OpenSans-Regular', 'Arial', 'San-serif';
$OpenSans-SemiBold: 'OpenSans-SemiBold', 'Arial', 'San-serif';
$OpenSans-Bold: 'OpenSans-Bold', 'Arial', 'San-serif';

$fontWeight: 400;
$semiWeight:600;
$boldWeight: 700;


$xsSize:10px;
$sSize:12px;
$mSize:14px;
$lSize: 16px;
$xlSize: 20px;
$xxlSize: 30px;



